.bg-pastel-turquoise {
  background-color: #ACE8DC;
}

.bg-pastel-darkerturquoise {
  background-color: #acded5;
}

.bg-pastel-emerald {
  background-color: #B5EECD;
}

.bg-pastel-darkeremerald {
  background-color: #b3e4c7;
}

.bg-pastel-blue {
  background-color: #b7dbf3;
}

.bg-pastel-darkerblue {
  background-color: #b4d3e8;
}

.bg-pastel-purple {
  background-color: #ddc5e7;
}

.bg-pastel-darkerpurple {
  background-color: #d9bde3;
}

.bg-pastel-yellow {
  background-color: #faeba6;
}

.bg-pastel-darkeryellow {
  background-color: #fcdca9;
}

.bg-pastel-orange {
  background-color: #fcdca9;
}

.bg-pastel-darkerorange {
  background-color: #f0c3a2;
}

.bg-pastel-red {
  background-color: #f8c1ba;
}

.bg-pastel-darkerred {
  background-color: #ebbab5;
}

.bg-pastel-white {
  background-color: #f9fbfa;
}

.bg-pastel-darkerwhite {
  background-color: #f9fbfa;
}

.bg-pastel-grey {
  background-color: #dbe1e1;
}

.bg-pastel-darkergrey {
  background-color: #d2d8d8;
}

.bg-pastel-black {
  background-color: #b8bfc7;
}

.bg-pastel-darkerblack {
  background-color: #b5bcc2;
}